<a href="https://colab.research.google.com/github/84468360632345/TSFGRIP-Data-Science/blob/main/Copy_of_Copy_of_Copy_of_Sample_ML_Submission_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - Netflix-Movies-and-TV-Shows-Clustering

##### **Project Type**    - Unsupervised
##### **Contribution**    - Individual/Team
##### **Team Member 1 -** Swapnil Liladhar Sawai

:# **Project Summary -**

Write the summary here within 500-600 words.

Netflix movies and TV shows clustering is a data analysis and machine learning technique that Netflix uses to group its content into similar categories. This technique involves analyzing the various characteristics of each title, such as genre, cast, and plot, and using algorithms to identify patterns and similarities.

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**
 This dataset consists of tv shows and movies available on Netflix as of 2019. The dataset is collected from Flixable which is a third-party Netflix search engine.

In 2018, they released an interesting report which shows that the number of TV shows on Netflix has nearly tripled since 2010. The streaming serviceâ€™s number of movies has decreased by more than 2,000 titles since 2010, while its number of TV shows has nearly tripled. It will be interesting to explore what all other insights can be obtained from the same dataset.

Integrating this dataset with other external datasets such as IMDB ratings, rotten tomatoes can also provide many interesting findings.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 15 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]





6. You may add more ml algorithms for model creation. Make sure for each and every algorithm, the following format should be answered.


*   Explain the ML Model used and it's performance using Evaluation metric Score Chart.


*   Cross- Validation & Hyperparameter Tuning

*   Have you seen any improvement? Note down the improvement with updates Evaluation metric Score Chart.

*   Explain each evaluation metric's indication towards business and the business impact pf the ML model used.

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Word Cloud library
from wordcloud import WordCloud, STOPWORDS

# library used for textual data prerocessing
import string
string.punctuation
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem.snowball import SnowballStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# library used for Clusters impelementation
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.cluster import AgglomerativeClustering
import scipy.cluster.hierarchy as shc

# library used for building recommandation system
from sklearn.feature_extraction.text import TfidfVectorizer

### Dataset Loading

In [ ]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')

### Dataset First View

In [ ]:
# Dataset First Look
df=pd.read_csv('/content/drive/MyDrive/NETFLIX MOVIES AND TV SHOWS CLUSTERING.csv')

In [ ]:
df.head(4)

In [ ]:
df.tail(4)

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns countd
print('Dtaset Row and column')
df.shape

### Dataset Information

In [ ]:
# Dataset Info
df.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
df.nunique()

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df.isnull().sum()

In [ ]:
df.drop(['director'],axis=1,inplace=True)

In [ ]:
df['cast'].fillna(value=0,inplace=True)

In [ ]:
df['country'].fillna(value=0,inplace=True)
df['date_added'].fillna(value=0,inplace=True)
df['rating'].fillna(value=0,inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().value_counts()

In [ ]:
# Visualizing the missing values
df.drop_duplicates()

### What did you know about your dataset?

Answer Here In this dataset there is no duplicates in given dataset.

## ***2. Understanding Your Variables***

In [ ]:

# Dataset Columns
df.columns

In [ ]:

# Dataset Describe
df.describe()

### Variables Description

Answer Here

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
df.nunique()

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready
df.head()

Answer Here.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1

In [ ]:
# Chart - 1 visualization code
df['type'].value_counts()

In [ ]:
sns.lineplot(df['release_year'])

#### Chart - 2

In [ ]:
# Chart - 2 visualization code
df['rating'].unique()

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(x='rating',data=df)

#### Chart - 3

In [ ]:
rating_map = {'TV-MA':'Adults',
              'R':'Adults',
              'PG-13':'Teens',
              'TV-14':'Young Adults',
              'TV-PG':'Older Kids',
              'NR':'Adults',
              'TV-G':'Kids',
              'TV-Y':'Kids',
              'TV-Y7':'Older Kids',
              'PG':'Older Kids',
              'G':'Kids',
              'NC-17':'Adults',
              'TV-Y7-FV':'Older Kids',
              'UR':'Adults'}

In [ ]:
 df['rating'].replace(rating_map, inplace = True)
df['rating'].unique()

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(x='rating',data=df)

#### Chart - 4

In [ ]:
# Chart - 4 visualization code
plt.figure(figsize=(7,7))
df.type.value_counts().plot(kind='pie')
plt.title('Movies and TV Shows in the dataset')

#### Chart - 5

In [ ]:
df.cast.value_counts()

In [ ]:
plt.figure(figsize=(10,5))
df.country.value_counts().nlargest(10).plot(kind='barh')
plt.title(' Top 10 countries with the highest number of shows')

In [ ]:
df.country.value_counts().nlargest(3).sum()/len(df)*100

In [ ]:
df.country.value_counts().nlargest(10).sum()/len(df)*100

The top 3 countries together account for about 51% of all movies and TV shows in the dataset.
This value increases to about 68% for top ten countries.

#### Chart - 6

In [ ]:
# Chart - 6 visualization code
plt.figure(figsize=(10,5))
df.listed_in.value_counts().nlargest(10).plot(kind='barh')

In [ ]:
df.listed_in.value_counts().nlargest(3).sum()/len(df)*100

In [ ]:
df.listed_in.value_counts().nlargest(10).sum()/len(df)*100

##### 1. Why did you pick the specific chart?

Answer Here. In this chart we see the documentaries is most popular.
These three genres account for about 12% of all movies and TV shows.
This value increases to about 30% for top 10 genres.

#### Chart - 7

In [ ]:
# Chart - 7 visualization code
plt.figure(figsize=(10,5))
df.rating.value_counts().plot(kind='barh')
plt.title('Number of shows on Netflix for different age groups')

#### Chart - 8

In [ ]:
# Chart - 8 visualization code
df.corr()

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(df.corr())
plt.title('Correlation Heatmap')
plt.show()

#### Chart - 9

In [ ]:
plt.figure(figsize=(28,25))
sns.pairplot(df)

## **. Remove stopwords and lower case:**

In [ ]:
df['tags'] = df['description'] + df['listed_in']

In [ ]:
df.tags[0]

In [ ]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
np.array(stop_words)

In [ ]:
def stopwords(text):
    '''a function for removing the stopword and lowercase the each word'''
    text = [word.lower() for word in text.split() if word.lower() not in stop_words]
    # joining the list of words with space separator
    return " ".join(text)

In [ ]:
df['tags'] = df['tags'].apply(stopwords)

In [ ]:
df['tags']

 Removing Punctuations

In [ ]:
def remove_punctuation(text):
    '''a function for removing punctuation'''
    import string
    # replacing the punctuations with no space, which in effect deletes the punctuation marks.
    translator = str.maketrans('', '', string.punctuation)
    # return the text stripped of punctuation marks
    return text.translate(translator)

In [ ]:
df['tags']  = df['tags'].apply(remove_punctuation)

In [ ]:
df.tags[0]

In [ ]:
from nltk.stem.snowball import SnowballStemmer

# create an object of stemming function
stemmer = SnowballStemmer("english")

def stemming(text):    
    '''a function which stems each word in the given text'''
    text = [stemmer.stem(word) for word in text.split()]
    return " ".join(text)

In [ ]:
df['tags'] = df['tags'].apply(stemming)

In [ ]:
df.tags[0]

 Text Vectorization

In [ ]:
tfidf = TfidfVectorizer(stop_words='english', lowercase=False, max_features = 10000)
tfidf.fit(df['tags'])

In [ ]:
tfidfmodel = TfidfVectorizer(max_features=5000)
X_tfidf = tfidfmodel.fit_transform(df['description'])
X_tfidf.shape

In [ ]:
X = X_tfidf.toarray()

K-means clusterining

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans = KMeans(n_clusters= 26, init='k-means++', random_state= 42)  
y_predict= kmeans.fit_predict(X)

In [ ]:
from sklearn.metrics import davies_bouldin_score
davies_bouldin_score(X, y_predict)

In [ ]:
df["cluster"] = y_predict

In [ ]:

df['cluster'].value_counts()

In [ ]:
fig, ax = plt.subplots(figsize=(15,6))
sns.countplot(x='cluster', hue='type',lw=5, data=df, ax=ax)

.AgglomerativeClustering

In [ ]:
from sklearn.cluster import AgglomerativeClustering
aggh = AgglomerativeClustering(n_clusters=6, affinity='euclidean', linkage='ward')  
aggh.fit(X)
#Predicting using our model
y_hc=aggh.fit_predict(X)

In [ ]:
df_hierarchical =df.copy()
#creating a column where each row is assigned to their separate cluster
df_hierarchical['cluster'] = aggh.labels_
df_hierarchical.head()

In [ ]:
#Silhouette Coefficient
print("Silhouette Coefficient: %0.3f"%silhouette_score(X,y_hc, metric='euclidean'))

In [ ]:
from sklearn.metrics import davies_bouldin_score
davies_bouldin_score(X, y_hc)

conclusion:-
from elbow and sillhoute score ,optimal of 26 clusters formed , K Means is best for identification than Hierarchical as the evaluation metrics also indicates the same.in kmean cluster 0 has the highest number of datapoints
and evnly distributed for other cluster

Netflix has 5372 movies and 2398 TV shows,
there are more number movies on Netflix than TV shows.

TV-MA has the highest number of ratings for tv shows i,e adult ratings

highest number of movies released in 2017 and 2018

highest number of movies released in 2020 The number of movies on Netflix is growing significantly faster than the number of TV shows. We saw a huge increase in the number of movies and television episodes after 2015. there is a significant drop in the number of movies and television episodes produced after 2020. It appears that Netflix has focused more attention on increasing Movie content than TV Shows. Movies have increased much more dramatically than TV shows

the most content is added to Netflix from october to january

Documentaries are the top most genre in netflix which is fllowed by standup comedy and Drams and international movies

kids tv is the top most TV show genre in netflix

most of the movies have duration of between 50 to 150